---
http_interactions:
- request:
    method: get
    uri: https://isbndb.com/api/books.xml?access_key=IYIH225O&results=prices&index1=isbn&value1=9780470074787
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>


        <ISBNdb server_time="2012-03-20T01:54:05Z">

        <BookList total_results="1" page_size="10" page_number="1" shown_results="1">

        <BookData book_id="systems_analysis_and_design_with_uml" isbn="0470074787"
        isbn13="9780470074787">

        <Title>Systems Analysis and Design with UML</Title>

        <TitleLong></TitleLong>

        <AuthorsText>Dennis, Barbara Haley Wixom, David Tegarden, </AuthorsText>

        <PublisherText publisher_id="john_wiley_sons">John Wiley &amp; Sons</PublisherText>

        <Prices price_time="2012-03-20T00:23:48Z">

        <Price store_isbn="" store_title="Systems Analysis Design with UML Version
        2.0: An Object-Oriented Approach" store_url="http://bookshop.blackwell.com/bobus/scripts/home.jsp?action=search&amp;type=isbn&amp;term=0470074787&amp;source=1154376025"
        store_id="blackwell" currency_code="USD" is_in_stock="0" is_historic="0" check_time="2010-02-25T23:16:49Z"
        is_new="1" currency_rate="1" price="153" />

        <Price store_isbn="" store_title="" store_url="http://isbndb.com/x/book/systems[...]
