.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %h3
        =link_to "Classopoly", "/", :class => :brand
      %ul.nav
        %li
          =link_to "Home", "/"
        -if current_user
          %li
            =link_to "Friends", friends_path
          %li
            =link_to "My Courses", user_courses_path
          %li
            =link_to "My Schedule", generate_course_list_user_courses_path
          %li
            =link_to "Course List", courses_path
      %ul.nav.pull-right
        -if current_user 
          %li
            =link_to "Settings", preferences_path
          %div#auth
            =link_to "Logout", destroy_user_session_path, :method => :delete
            =facebook_avatar(current_user.facebook_user_id)
        -# =link_to (image_tag "fb-login-button.png",  :id =>"facebook"),  user_omniauth_authorize_path(:facebook)

