%center
  %table.facebook
    - @friends.each_with_index do |friend, i|
      - if i % 5 == 0
        %tr
      %td
        %iframe{:src => "https://graph.facebook.com/#{friend.facebook_friend_id}/picture", :width => "24", :height => "24", :frameborder => 0, :scrolling => "no", :style => "float: left"}
      %td=friend.name
      - if Authorization.find_by_uid(friend.facebook_friend_id)
        %td
          %span.label.notice Already Joined!
      - elsif PendingInvite.find_by_uid(friend.facebook_friend_id)
        %td=link_to "Resend", "#", :class => "btn btn-success disabled", :id => "invite_user_#{friend.facebook_friend_id}", :facebook_identifier => friend.facebook_friend_id

      - else
        %td=link_to "Invite", "#", :class => "btn btn-success", :id => "invite_user_#{friend.facebook_friend_id}", :facebook_identifier => friend.facebook_friend_id
      %td
     
