- @wall_messages.each do |w|
  .alert.alert-info
    .pull-left
      =w.content
    .pull-right
      =w.created_at.localtime.strftime("%m/%d/%Y %I:%m %p")
    .clear
    .pull-right
      %b=w.try(:user).try(:safe_name)
        


