.topbar-inner, .topbar .fill {
  background: #333;
  /* Old browsers */
  background: -moz-linear-gradient(top, #066dab 0%, #084368 99%, #c5deea 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #066dab), color-stop(99%, #084368), color-stop(100%, #c5deea)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #066dab 0%, #084368 99%, #c5deea 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #066dab 0%, #084368 99%, #c5deea 100%) !important;
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #066dab 0%, #084368 99%, #c5deea 100%) !important;
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#066dab', endColorstr='#066dab',GradientType=0 ) !important;
  /* IE6-9 */
  background: linear-gradient(top, #066dab 0%, #084368 99%, #c5deea 100%) !important;
  /* W3C */
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#auth { 
  float: right; 
  margin-top: 8px; 
}
body { 
  padding-top: 50px !important;  
  background: #f5f7f9 image-url('bg.jpg') repeat-x !important;
}

table.preferences { 
  width: 520px; 
  td {
    border-bottom: 0 !important;  text-align: center;
   }
}

table.time_preferences {
  width: 75%;
  th { 
    width: 20%; 
  }
  td, th {
    text-align: center; 
  }
  select { 
    font-size: 14px; 
    width: 50px; 
  }
  td { 
    a { 
      width: 40%; 
    }
  }
}

.right { float: right; }
.left { float: left; }

#save_preferences { 
}

.pagination{
  height:36px;
  margin:18px 0;

  ul {
    float:left;
    margin:0;
    border:1px solid #ddd;
    border:1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
  }
  li { 
    display:inline;
  }

  span { 
    float:left;
    padding:0 14px;
    line-height:34px;
    border-right:1px solid;
    border-right-color:#ddd;
    border-right-color:rgba(0, 0, 0, 0.15);
    *border-right-color:#ddd;
    text-decoration:none;
  }
  a:hover, .active a { 
    background-color:#c7eefe;
  }
  .disabled a, .disabled a:hover {
    background-color:transparent;
    color:#bfbfbf;
  }
  .next a { 
    border:0;
  }
}


.facebook {
  tr { 
    td {
    padding-top: 15px; 
    img {
      padding-top: 0px !important;
    }
  }
}
}

.clear { clear: both; } 

.logo { 
    margin-top: -0.3em;
    font-size: 6em; 
    padding-bottom: .8em;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    line-height: .8em;
    small { 
        padding-top: 30px;
        font-size: 30px; 
    }
}

.welcomebox { 
    text-align: center;
    padding-top: 30px; 
    line-height: 1.5em;
}

.title { 
    font-size: 1.5em;
    line-height: 2em;
    color: #999; 
}
