/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#auth { 
  float: right; 
  margin-top: 8px; 
}
body { padding-top: 50px !important; padding-left: 25px !important; padding-right: 25px !important; }

table.preferences { 
  width: 520px; 
  td {
    border-bottom: 0 !important;  text-align: center;
   }
}

table.time_preferences {
  width: 75%;
  th { 
    width: 20%; 
  }
  td, th {
    text-align: center; 
  }
  select { 
    font-size: 14px; 
    width: 50px; 
  }
  td { 
    a { 
      width: 40%; 
    }
  }
}

.right { float: right; }
.left { float: left; }

#save_preferences { 
}
