<!DOCTYPE html>
<html>
<head>
  <title>Classly</title>
  <%= stylesheet_link_tag    "application", "boot-1.2" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
